Package: terminology-theme-pencildark
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Pencildark theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 A color scheme inspired by iA Writer. 
 Inspired by @reedes's original vim version,
 .
 see https://charlesmilette.net/terminology-themes/
