Package: terminology-theme-parasiodark
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Parasiodark theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
  A color scheme inspired by the colorful illustrations 
 by Brazilian artist Rubens LP.
 .
 see https://charlesmilette.net/terminology-themes/
