Package: terminology-theme-harper
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Harper theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 A color scheme inspired by the art of Charley Harper.
 .
 see https://charlesmilette.net/terminology-themes/
