Package: terminology-theme-jackiebrown
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Jackiebrown theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 The overall coloring is yellow on dark brown background with 
 seventies-style color palette. Inspired by the colors from 
      http://bower.io website and tweaked somewhat.
 .
 see https://charlesmilette.net/terminology-themes/
