Package: terminology-theme-solarizeddark-patched
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Solarizeddark-patched theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 Solarized is a sixteen color palette (eight monotones, eight accent colors)
 designed for use with terminal and gui applications.
 .
 Note: Some applications assume the ANSI color code 8 is a gray color. 
 Solarized treats this code as equal to the background. This theme is for 
 people who prefer the former.
 .
 For more on Solarized themes in general see:
     https://ethanschoonover.com/solarized/
 .
 For more on the terminology themes see:
     https://charlesmilette.net/terminology-themes/
