Package: terminology-theme-3024day
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: 3024day theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 This palette was carefully selected from a series of 
 record sleeves designed by Dutch artist Erosie.
 .
 see https://charlesmilette.net/terminology-themes/
