Package: terminology-theme-redplanet
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Redplanet theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 Based on the Ciapre Dark Sublime/TextMate theme with slight mods.
 .
 see https://charlesmilette.net/terminology-themes/
