Package: terminology-theme-onehalfdark
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Onehalfdark theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 Based on Atom's Theme One with some tweakings.
 .
 see https://charlesmilette.net/terminology-themes/
