Package: terminology-theme-wombat
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Wombat theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 This is a port of vim's Wombat256 color theme.
 .
 see https://charlesmilette.net/terminology-themes/
