Package: terminology-theme-c64
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: C64 theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 Theme nspired by the Commodore 64.
 .
 see https://charlesmilette.net/terminology-themes/
