Package: terminology-theme-forestblue
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Forestblue theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
  A fresh calm color theme inspired by rainy days and blue misty forests.
 .
 see https://charlesmilette.net/terminology-themes/
