Package: terminology-theme-treehouse
Version: 0.1.1bodhi1-1
Section: misc
Priority: optional
Depends: terminology
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Treehouse theme for Terminology
 A color scheme for the Terminology terminal emulator.
 .
 see https://charlesmilette.net/terminology-themes/
